body {
	width: 254px;
	height: 400px;
	background-color: #EDF2F4;
	margin:0 !important;
	padding-top: 0;
	border-radius: 5px
}

.header{
	height: 53px;
	background-color: #2B2D42;
	margin: auto;
}

h2{
	margin: auto;
	padding-left: 14%;
	padding-right: 14%;
	padding-top: 8%;
	color: #8D99AE;
	font-size: 15px;
	font-family: "Maiandra GD", serif;
}

.description{
	font-size: 10px;
	font-family: "Maiandra GD", serif;
	padding-left: 8%;
	padding-right: 8%;

}

hr{
	margin-left: 6%;
	margin-right: 6%;
}

.instanceText{
	font-size: 12px;
	font-family: "Maiandra GD", serif;
	text-align: center;
}

h1{
	text-align: center;
	font-family: "Maiandra GD", serif;
	color: #D90429;
}

.keyWordBlockText{
	font-size: 12px;
	font-family: "Maiandra GD", serif;
	padding-left: 10%;
	display: inline-block;
}

#spoilerInputText{
	width: 35%;
	background: transparent;
	border-radius: 10px;
	border-width: 1px;
	outline: none;
	text-align: center;
	font-size: 12px;
	font-family: "Maiandra GD", serif;
}

button{
	background-color: #EF233C;
	border-color: #2B2D42;
	color: #2B2D42;
	font-size: 15px;
	font-family: "Maiandra GD", serif;
	padding: 10px;
	border-radius: 100px;
	width: 200px;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 5%;
	display: inline-block;
	box-shadow: 0 9px #999;
	outline: none;
}

button:hover {
	background-color: #D3011B}

button:active {
	background-color: #BFBFBF;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#warnText{
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	color: #D90429;
}